<app-nav-bar></app-nav-bar>

<ion-content *ngIf="!noQuestions">

  <ion-card class="question-area">
    {{questions[i]}}
    <span class="material-symbols-outlined" (click)="convertTextToSpeech(questions[i])">
      volume_up
    </span>
  </ion-card>
  <ion-item lines="none" class="answer-area">
    <input id="myInput" placeholder="Write your answer" [(ngModel)]="answerToQues" autocomplete="off">
    <span class="material-symbols-outlined" (click)="startService()" *ngIf="!micOn">
      mic_off
    </span>
    <span class="material-symbols-outlined" (click)="stopService()" *ngIf="micOn">
      mic
    </span>
    <!-- <span (click)="changetoMicOn()" class="material-symbols-outlined">
      mic_off
    </span> -->
  </ion-item>
  <ion-button class="check-question-button" expand=“full” color=“secondary” (click)="checkAnswer(questions[i])">
    CHECK
  </ion-button>

  <div>


  </div>
</ion-content>