@import "../../theme/constant.scss";

.question-area {
  top: 8%;
  margin: 1rem;
  height: 8em;
  text-align: center;
  padding-top: 10%;
  color: black;
  font-weight: 500;
  font-size: 1em;
}

#myOutput {
  outline-offset: 0px;
  outline: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  width: 25rem;
  height: 17rem;
}
.answer-area {
  top: 8%;
  margin: 1rem;
}
#myInput {
  outline-offset: 0px;
  outline: none;
  border: 3px solid $primary-color;
  border-radius: 5px;
  background: transparent;
  width: 25rem;
  height: 7rem;
  margin-top: 20px;
}

ion-button {
  border-radius: 5px;
  position: absolute;
  --box-shadow: none;
  --background: white;
  color: $primary-color;
  border: 1px solid $primary-color;
  top: 4%;
  height: 3rem;
  font-weight: 800;
}
.check-question-button {
  background-color: $primary-color;
  top: 75%;
  width: 90%;
  height: 3rem;
  margin-left: 5%;
  color: $white;
}
.material-symbols-outlined {
  font-size: 1.5em;
  position: absolute;
  vertical-align: middle;
  color: $primary-color;
  left: 85%;
  top: 75%;
}
